h1 {
    font-family: Arial, Helvetica, sans-serif;
    border: 2px #eee solid;
    color: #009CFA;
    text-align: left;
    padding: 10px;
}
nav a {
    color: #009CFA;
    font-size: 3em;
    margin-left: 50px;
    text-decoration: none;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-left: 50px;
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(251, 143, 0);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: white;
}

.sidenav_left {
    height: 100%;
    width: 160px;
    position: fixed;
    top: 70;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 2px solid rgb(241, 153, 0);
    border-top: 2px solid rgb(241, 153, 0);
    border-radius: 5px;
}

.sidenav_right {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 70;
    right: 0;
    overflow-x: hidden;
    padding-top: 20px;
    border-left: 2px solid rgb(241, 153, 0);
    border-top: 2px solid rgb(241, 153, 0);
    border-radius: 5px;
}
  
.sidenav_left a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #023047;
    display: block;
}
  
.sidenav_left a:hover {
    color: #f454f1;
}

.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    margin-right: 200px; /*Same as the width of the right sizebar*/
    padding: 0px 10px;
  }

.bleat {
    border: 1px solid rgb(241, 153, 0);
    border-radius: 5px;
    margin-top: 3px;
}