<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    {% block title %}{% endblock %}
    {% block style %}{% endblock %}
</head>


<body style="margin: 0px">
    <div style="background-color: #FB8500 ;margin: 0px; height: 70px; ">
        <a href = "/">
        <img src="{{url_for('static', filename='logo.png')}}" width="80" height="80">
        </a>
        <a style="float:left; line-height:70px; margin-right:10px; color:rgb(255, 255, 255); font-family: Arial; font-size: 20px;"> BLEATTER </a> 
        {% if session['current_user'] %}
            <a style="float:right; line-height:70px; margin-right:20px; color:rgb(255, 255, 255); font-family: Arial; font-size: 20px;"> Profile {{ session['current_user'] }}</a>
            <a href="/logout" style="float:right; line-height:70px; margin-right:20px; color:rgb(255, 255, 255); font-family: Arial; font-size: 20px;">Log out</a>
        {% else %}
            <a href="/signin" style="float:right; line-height:70px; margin-right:10px; color:rgb(255, 255, 255);font-family: Arial; font-size: 20px;">Sign in</a>
            <a href="/signup" style="float:right; line-height:70px; margin-right:10px; color:rgb(255, 255, 255); font-family: Arial; font-size: 20px;">Sign up</a>
        {% endif %}
        <a href="/about" style="float:right; line-height:70px; margin-right:20px; color:rgb(255, 255, 255); font-family: Arial; font-size: 20px;">About us</a>
    </div>
    {% block main %} 
    {% endblock %}

</body>
</html>