<!DOCTYPE html>
<html>
   <head>
      <title>Bleatter</title>
   </head>
   <body style="margin: 0px">
      <p style="background-color: #009CFA; margin: 0px; height: 70px;">
         <img src="logo.jpeg" width="70" height="70">
         <a href="http://localhost:5000/signin" style="float:right; line-height:73px; margin-right:10px; color:white;">Sign in</a>
         <a href="http://localhost:5000/register" style="float:right; line-height:70px; margin-right:10px; color:white;">Register</a>
         <a href="http://localhost:5000/about.html" style="float:right; line-height:10px; margin-right:10px; color:white;">About us</a>
      </p>
      <h2>Welcome to Bleatter, where a Tweet is just a Bleat</h2>
      <h3>It's {{utc_dt}}</h3>
   </body>
</html>
