{% extends 'base.html' %}

{% block title %}<title>Welcome back Bleattos</title>{% endblock %}

{% block main %}
<div class="container">
    <h1>Feeds</h1>


    <ul>

        <!--<div>
            <img src="{{url_for('static', filename='goat1.jpeg')}}">
        </div>-->
        <div>
            {%for i in range(0, len)%}
            <li class="list-group-item">
                <p>author : {{name[i]}}
                </p>
                {{message[i]}}
                <p>{{date[i]}}</p>
            </li>
            {%endfor%}
        </div>
        <ul>

</div>


</div>

{% endblock %}