{% extends 'base.html' %}

{% block title %}<title>Profil of {{username}}</title>{% endblock %}

{% block main %}

<h1>{{username}}</h1>
<h3>
    <img src="https://cdn-icons-png.flaticon.com/512/17/17736.png" height="15px" width="15px">
    {{location}}
</h3>

<div class="main">

    {%for i in range(len, 0, -1)%}
    <div class="bleat">
        <p><strong>{{username}}</strong></p>
        <p>{{message[i]}}</p>
        <p>{{date[i]}}</p>
        <hr>
    </div>
    {%endfor%}
</div>

{% endblock %}