<!DOCTYPE html>
<html>

<body>
    <h1>
        <b>Sign In</b>
    </h1>
    <form action="http://localhost:5000/signin" , method="post">
        <div>
            <label for="email"> Email : </label>
            <input name="email" type="email" id="email" required>
        </div>
        <div>
            <label for="password"> Password : </label>
            <input name="password" type="password" id="password" required>
        </div>

        <button type="Sign in">Sign In</button>
    </form>

</body>

</html>